.login-div{
    width: 100%;
    height: 100%;
    display: grid;
    background-image: linear-gradient(190deg, #a3f7bf, #29a19c);
}

.login-div form{
    background: #393e46;
    display: grid;
    align-self: center;
    justify-self: center;
    height: 50vh;
    width: 30vh;
    padding: 0.5vh 2vh;
    max-height: 500px;
    min-height: 300px;
    max-width: 300px;
    min-width: 180px;
    border-radius: 5px;
    grid-template-rows: 8fr 4fr 1fr 4fr 8fr 12fr;
}

.login-title{
    color: #a3f7bf;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-size:200%;
    font-weight: bolder;
    justify-self: center;
    align-self: center;
}

.data-field{
    border-radius: 5px;
    background: #222831;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 3fr;
}
.data-field div{
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    display: grid;
}

.data-field div input{
    color: #a3f7bf;
    font-family: 'Source Sans Pro';
    font-size: 120%;
    font-weight: 600;
    outline: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    align-self: center;
    width: 90%;
    height: 90%;
    padding-right: 10%;
    justify-self: center;
}

.login-svg-icons{
    align-self: center;
    justify-self: center;
    width: 30%;
    height: auto;
    fill: #a3f7bf;
    transition: all 0.2s ease 0s;
}

.green-shadow{
    align-self: center;
    justify-self: center;
    width: 30%;
    height: auto; 
    fill: #2EE59D;
    color: #fff;
    animation: lightloop 3s;
    animation-iteration-count: infinite;
}

.login-div form button{
    height: 50%;
    width: 100%;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 5px;
    background: #a3f7bf;
    color: #393e46;
    font-family: 'Source Sans Pro';
    font-size: 120%;
    font-weight: 600;
    outline: none;
    transition: all 0.2s ease 0s;
}

.login-div form button:hover{
    background-color: #2EE59D;
    animation: lightloop 3s;
    animation-iteration-count: infinite;
    color: #fff;
}

.login-div form button:focus{
    background-color: #2EE59D;
    color: #fff;
    animation: lightloop 3s;
    animation-iteration-count: infinite;
}

.signup-message-div{
    font-family: 'Source Sans Pro' ;
    font-weight: lighter;
    font-size: 55%;
    text-align: center;
    display: grid;
    align-self: end;
    justify-self: center;
}

.signup-message-div span{
    position: relative;
    color: white;
    font-size: 160%;
    align-self: center;
    justify-self: center;
}

.register{
    color: #a3f7bf;
    outline: none;
    transition-duration: 0.3s;
}

.register:focus{
    color: #2EE59D;
    transform: translateY(-4px);
    font-size: 120%;
    transition-duration: 0.3s;
}


.register:hover{
    color: #2EE59D;
    transform: translateY(-4px);
    font-size: 120%;
    transition-duration: 0.3s;
}


@keyframes lightloop {
    0% {
        box-shadow: none;
        transform: translateY(0px);
    }
    25% {
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        transform: translateY(-4px);
    }
    50% {
        box-shadow: none;
        transform: translateY(0px);
    }
    75% {
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        transform: translateY(-4px);
    }
    100% {
        box-shadow: none;
        transform: translateY(0px);
    }
}