
.post-input-session, .post-input-session form{
    width: 100%;
    height: 100%;
}

.input-text{
    float: left;
    text-align: center;
    position: relative;
    max-height: 70%;
    width: 70%;
    padding: 20px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 400;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s linear;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
    
}


.input-text::placeholder{
    text-align: center;
    font-size: xx-large;
    transition: color 0.1s linear
}

.input-text:focus::placeholder{
    color: transparent;
    
}

.share-button{
    float: left;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #F5F8FA;
    position: relative;
    max-width: 80px;
    max-height: 30px;
    width: 40%;
    height: 40%;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    z-index: 2;
    top: 70%;
}

.share-button:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
}