.posts-visualizer-session{
    width: 100%;
    height: auto;
}

.post-space-session{
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: 10px 0;
    overflow: auto;
    width: 100%;
    height: auto;
    background-color: black;
}

.post{
    background-color: #F5F8FA;
    min-height: 150px;
    grid-column-start: 1;
    grid-column-end: 2;
    height: auto;
}

.post-actions{
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 3;

}

.post-comments{
    background-color: #333745;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.post-content{
    padding: 0 2%;
}

.post-content span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bold;
}

.show-comments{
    display: grid;
    position: relative;
    background-color: #333745;
}

.show-comments-button{
    align-self: center;
    justify-self: center;

}

.like-post{
    display: grid;
    position: relative;
    background-color: #333745;
}

.like-post-button{
    align-self: center;
    justify-self: center;
}


.comment{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: auto;
}

.user-data{
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 60px;
}

.comment-profile-photo{
    display: grid;
}

.comment-profile-photo img{
    max-height: 40px;
    align-self: center;
    justify-self: center;
}

.comment-profile-name{
    display: grid;
    text-align: center;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.comment-content{
    display: grid;
}

.content{
    align-self: center;
    justify-self: center;
    color: #333745;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
    word-break: break-all;
    max-width: 400px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin: 3px;
}